@charset "utf-8";

@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

$family-primary: "Roboto Mono", monospace;

$body-background-color: #1d1f21;
$body-font-size: 1.1em;

$text: #c5c8c6;
$comment: #969896;
$number: #b5bd68;
$red: #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green: #b5bd68;
$aqua: #8abeb7;
$blue: #81a2be;
$purple: #b294bb;

body {
  background-color: $body-background-color;
}

.primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;

  .container {
    width: 800px;
  }
}

$editor-top-padding: 5em;
$editor-line-height: 4.5;

.editor {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: $family-primary;
  line-height: $editor-line-height;
  margin: 0 auto;
}

.editor-left {
  padding-top: $editor-top-padding;
  min-height: 100vh;
  flex-grow: 2;
  flex-basis: 0;
  white-space: nowrap;
  overflow-wrap: normal;
  overflow-x: hidden;
  z-index: 1;

  textarea {
    color: $text;
    caret-color: $text;
    white-space: nowrap;
    overflow-wrap: normal;
    overflow-x: hidden;
  }

  textarea:focus {
    outline: 0;
  }

  .comment {
    color: $comment;
  }

  .number {
    color: $green;
  }

  .name {
    color: $text;
  }

  .punctuation {
    color: $text;
  }

  .reserved {
    color: $yellow;
  }

  .infix {
    color: $aqua;
  }

  .unknown {
    color: $red;
  }
}

.editor-right {
  position: absolute;
  color: $text;
  white-space: nowrap;

  max-width: 267px;

  padding-top: $editor-top-padding + math.div($editor-line-height, 2.5);
  padding-left: 2em;
  min-height: 100vh;

  line-height: $editor-line-height;
  z-index: 0;

  div::before {
    content: "⤷ "
  }
}
